<ul class="filter-genres">
  <% _.each(genres, function(name) { %>
     <li>
       <input type="checkbox" name="genres" value="<%= name %>">
         <%= name %>
       </input>
     </li>
  <% }) %>
</ul>


